.chats-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80%;
}

#burger {
    flex-basis: 10%;
    font-size: 30px;
    color: aliceblue;
    margin-left: 4%;
}

.title {
    flex-basis: 85%;
    font-size: 30px;
    color: aliceblue;
    margin-left: 3%;
}

.chats-head > #search_icon {
    justify-self: flex-end;
    flex-basis: 5%;
    margin-right: 2%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2%;
    right: 3%;
    background-color: rgb(255, 202, 44);
    color: rgb(116, 96, 41);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    padding: 4px;

}

#create-icon {
    font-size: 33px;
    animation: rot 5s linear 0s infinite;
}

.button:hover {
    animation: pulse-animation 2s infinite
}

/* .pulse {
    animation: pulse-animation 2s infinite;
  } */
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 16px rgba(0, 0, 0, 0);
    }
  }

/* .chats-list {
    
} */
.previews {
    display: flex;
    flex-direction: column;
}

.preview {
    display: flex;
    flex-direction: row;
    height: 64px;
    font-size: 24px;
    background-color: white;
    border: 0;
    padding: 0;
    margin: 0;
    animation: slidein 500ms;
    /* animation-delay: 10ms; */
    overflow: hidden;
}   

.preview:active, .preview:hover {
    background-color: rgb(218, 185, 238);
    border: 4px solid rgb(142, 36, 170);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}

@keyframes slidein {
    from {
        /* margin-top: 100%; */
        margin-left: 100%;
        /* width: 300%; */
        /* height: 300%; */
    }

    to {
        margin-rigth: 0;
        /* width: 100%; */
        /* height: 100%; */
    }
}

#avatar {
    font-size: 60px;
    align-self: center;
    flex-basis: 20%;
    animation-name: fall, rot;
    animation-duration: 600ms,300ms;
    animation-delay: 100ms,500ms;
    /* animation-name: rot;
    animation-duration: 8000ms;
    animation-delay: 500ms; */
    /* animation: rot 50s linear 0s infinite; */
}

#avatar:hover {
    /* animation: rot 2s linear 0s infinite; */
    color: gold;
}
@keyframes fall {
    from {
        margin-bottom: 500%;
    }

    to {
        margin-bottom: 0;
    }
}

@keyframes rot {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.chat-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    flex-basis: 65%;
    border-bottom: 0.8px solid grey;
    /* margin-top: 1%; */
    overflow: hidden;
    justify-content: center;
}

.chat-last-msg {
    font-size: 20px;
    color: grey;
    /* width:10%; */
    /* margin-bottom: 10vh; */
    /* max-width: calc(100vw-58px-77px-5px); */

    text-overflow: ellipsis;
    max-width: 65vw;
    overflow: hidden;
    /* white-space: inherit; */
}

.chat-nums {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    border-bottom: 0.8px solid grey;
    flex-basis: 15%;
    font-size: 17px;
}

.unread-msgs {
    font-size: 22px;
}

#msgs {
    font-size: 22px;
    color: rgb(142, 36, 170);
}