.input-box {
    display: flex;
    height: 45px;
    width: 100%;
    background-color: white; 
    margin-top: auto;
    /* position: absolute;
    bottom: 0; */
}

.form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;  
    height: 100%;
    
}

.form-input {
    font-size: 25px; 
    width: 85%;
    height: 100%;
    margin-left: 3%;
    border: 0;
}

.user-line {
    display: flex;
    align-items: center;
    height: 80%;
 }

 /* .user-line:has(> .back:hover)~#dialog {
    filter: blur(8px);
} */

 .back {
    background-color: rgb(142, 36, 170);
    border: 0;
    /* border-top-left-radius: 1.5vh;
    border-bottom-left-radius: 1.5vh;
    border-top-right-radius: 1.5vh;
    border-bottom-right-radius: 1.5vh; */
 }

 #arrow_icon {
    flex-basis: 20%;
    font-size: 34px;
    color: aliceblue;
    margin-left: 1%;
 }

 .back:hover,  .back:active {
    background-color: rgb(145, 70, 165);
    border-radius: 100%;
    animation: pulse-animation 2s infinite
 }

 #account_icon {
    flex-basis: 3%;
    font-size: 60px;
    color: aliceblue;
 }

.user {
    flex-basis: 70%;
    margin-left: 1%;
}

.username {
    font-size: 30px;
    color: aliceblue;
}

.status {
    font-size: 16px;
    color: rgb(169, 150, 177);
}

#search_icon{
    flex-basis: 13%;
    font-size: 33px;
    color: aliceblue;
}

#menu_icon {
    flex-basis: 5%;
    margin-right: 3%;
    font-size: 33px;
    color: aliceblue;
}

#attachment_icon {
    font-size: 33px;
    margin-right: 1.5%;
    transform: rotate(-90deg);
    color: rgb(143, 135, 146);
}

.chat {
    /* height: auto;
    max-height: 80%; */
    height: calc(100% - 75px - 45px);
    /* height: 85%; */
    /* background-color: rgb(218, 185, 238); */
    /* border-bottom: 0.1vh solid black; */
    /* flex-grow: 0.5; */
    
}

.chat-show {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    height: 100%;
    font-size: 25px;
    overflow-y: auto;
    
    /* background-color: rgb(218, 185, 238); */
}

.messageFromUser2 {
    display: flex;
    background-color: aliceblue;
    flex-direction: column-reverse;
    align-self: flex-end;
    width: auto;
    max-width: 70%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 8px;
    word-wrap: break-word;
    background-color: rgb(218, 185, 238)
}

.messageFromUser2 > .time { 
    margin-right: 2px;
    margin-bottom: -4px;
    margin-left: 2px;
    padding-left: 10px;
}

.messageFromUser2 > .name {
    font-size: 16px;
    align-self: flex-end;
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: -8px;
}

.messageFromUser1 {
    background-color:  rgb(168, 215, 228);
    display: flex;
    /* background-color: aliceblue; */
    flex-direction: column-reverse;
    align-self: flex-start;
    width: auto;
    max-width: 70%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: 8px;
    /* animation: slidemesg1 400ms linear 0s; */
}

@keyframes slidemesg11 {
    from {
        margin-left: 150%;
        word-wrap: unset;
        font-size: 0; 
    }

    to {
        margin-left: 20px;
    }
    50% {
        font-size: 0; 
    }
}

@keyframes slidemesg2 {
    from {
        /* margin-right: 150%; */
        opacity: 0;
        /* font-size: calc(100%+10px); */
        /* font-size: 15px;  */
        margin-right: 40%;
        /* margin-right: calc(var(--variable-width)+ 20%); */
        /* margin-top: 15px;  */
        /* margin-bottom: 15px; */
        /* margin-top: auto;
        font-size: 0; */
       }
}
@keyframes slidemesg1 {
    from {
        /* margin-right: 150%; */
        opacity: 0;
        /* font-size: 25px; */
        margin-left: 50%;
        /* margin-top: -5px; */
       }
    }
.messageFromUser1 > .time { 
    padding-right: 8px;
    padding-bottom: 2px;
    /* animation: slidemesg1 400ms linear 0s; */
}

.messageFromUser1 > .name {
    font-size: 16px;
    align-self: flex-start;
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: -8px;
    /* animation: slidemesg1 400ms linear 0s; */
}
/* .messageFromUser2:last-child, .messageFromUser2 > .name:last-child, .messageFromUser2 > .time:last-child {
    animation: slidemesg2 40000ms linear 0s;
} */
/* .messageFromUser1:last-child, .messageFromUser1 > .name:last-child, .messageFromUser1 > .time:last-child {
    animation: slidemesg1 400ms linear 0s;
} */ 

.messageFromUser1, .messageFromUser1 > .name, .messageFromUser1 > .time {
    animation: slidemesg1 200ms linear 0s;
}
/* .messageFromUser2, .messageFromUser2 > .name, .messageFromUser2 > .time {
    animation: slidemesg2 4000ms linear 0s;
} */
.messageFromUser2, .messageFromUser2 > .name, .messageFromUser2 > .time {
    animation: slidemesg2 200ms linear 0s;
} 

.text {
    max-width: 60vw;
    align-self: flex-start;
    text-justify: center;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 7px;
    padding-bottom: 6px;
    margin-bottom: -8px;
    
}

.time {
    align-self: flex-end;
    justify-self: flex-start;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    
}